<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-headset-detection"
      version="0.1.5">
    <name>HeadsetDetection</name>

    <author>Naveen Kumar</author>

    <license>MIT</license>

    <description>
        This plugin gives you the ability to check HeadsetDetection presence
    </description>

    <js-module src="www/HeadsetDetection.js" name="HeadsetDetection">
        <clobbers target="cordova.plugins.HeadSet" />
    </js-module>

    <info>
        This plugin gives you the ability to check HeadsetDetection presence.
    </info>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HeadsetDetection">
                <param name="android-package" value="org.apache.cordova.plugin.HeadSet.HeadsetDetection"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
        </config-file>

    <source-file src="src/android/HeadsetDetection.java" target-dir="src/org/apache/cordova/plugin/HeadSet" />

     </platform>

     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="HeadsetDetection">
                 <param name="ios-package" value="HeadsetDetection" />
             </feature>
         </config-file>

         <header-file src="src/ios/HeadsetDetection.h" />
         <source-file src="src/ios/HeadsetDetection.m" />

     <framework src="UIKit.framework" weak="true" />

     </platform>

</plugin>
